<div class="face-snap-card" [ngClass]= "{snapped : faceSnap.snaps == 1}">
    <h2>{{ faceSnap.title | uppercase}}</h2>
    <a routerLink = "/facesnap">Back</a>
    <p>Mis en ligne le {{ faceSnap.createdDate | date: "dd:MM:YY à hh:mm:ss"}}</p>
    <div>
        <img [src]="faceSnap.imageURL" [alt]="faceSnap.title">
    </div>
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">photo prise à {{faceSnap.location}}</p>
    <p>
        <button (click)="snapFaceSnapById()">{{snapButton}}</button>
        <span [ngStyle]="{color: 'rgb(0,'+ faceSnap.snaps*90 +'0, 0)'}">{{ faceSnap.snaps }}</span>
    </p>
</div>